:root{
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #000a0b;
    --color-base2: #011417;
    --color-brand:#033f47;
    --color-brand2: #022a30;
    --sidbar-width: 240px;
    
}