@import 'variables';
@import 'colors';
@import 'nav';
@import 'contwrap';

// NAVBAR (DOESN´T WORK IN NAV SCSS) LEAVE HERE
.navbar {
    background-color: var(--color-base);
}


body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img{
    width: 100%;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(225,255,255 0.1);
}


