@import 'variables';
@import 'colors';
@import 'nav';


body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img{
    width: 100%;
}
